
* {
    font-family:sans-serif;
    margin:none;
}

html,body {
    height:100%;
    margin:0px;
    padding:0px;
}



.container {
    position:relative;
    width:960px;
    height:930px;
    margin:auto;
    background:rgba(255,255,255,0.5);
    box-shadow: 1px 1px 20px rgba(0,0,0,0.45);
}

header {
    position:relative;
    width:960px;
    height:100px;
    border-bottom:2px solid rgb(130, 196, 247);
}

nav {
    position:relative;
    width:710px;
    height:100px;
    float:left;
    background:green;
    font-family: 'Cinzel', serif;
}

nav > .navigation {
    position:relative;
    top:35px;
    left:20px;
    margin:0px;
    padding:0px;
    list-style:none;
}

.navigation li {
    width:100px;
    text-align:center;
    padding:5px;
    font-size:19px;
    float:left;
}

.navigation a {
    color:white;
    text-decoration:none;
    font-family: 'Cinzel', sans-serif;
    text-shadow:0px 0px 1px rgba(0,0,0,0.3);
}

.content {
    position:relative;
    height:840px;
}

.headImage {
    position:relative;
    top:20px;
    left:20px;
    width:600px;
    height:250px;
    border-radius:5px;
}



/* Form Styles */

.contentBoxes {
    position:absolute;
    width:958px;
    height:365px;
    top:350px;
}

.boxes {
    position:relative;
    background:white;
    float:left;
    width:305px;
    margin:10px;
    height:400px;
    padding:20px;
   
    margin-top: -18%
}

.contentBoxes h2 {
    font-family: sans-serif;
    font-size:18px;
    line-height: 25px;
}

.contentBoxes p {
    font-family: sans-serif;
    text-align:justify;
    font-weight:normal;
    font-size: 13px;
}

.box1 {
    margin-left:7px;
 
}

.box1 > hr {
    margin-top:4px;
    margin-bottom: 7px;
    color:red;
  
}

.box1 button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color:yellow;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:10%;
    margin-bottom:0%
}

.box2 {
    margin-left:2px;
   
    margin-top: 7%
}

.box2 > hr {
    margin-top:4px;
    margin-bottom: 4px;
    color:orange;
    border:1px solid;
}
.box2 button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color:dodgerblue;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:5%;
    margin-bottom:0%
}

.box3 {
    margin-left:-1px;
  
}
.box3 > hr {
    margin-top:4px;
    margin-bottom: 4px;
    color:rgb(0, 245, 255);
    border:1px solid;
}
.box3 button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color:red;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-top:10%;
    margin-bottom:0%
}

fieldset{

    background-color: whitesmoke;
    border-radius: .8em;
    margin: 1.5em 0;


}

.servicesBtn {
    text-decoration: none;
    color:#000;
}

.boxes > ul {
    list-style:square;
    font-size: 12px;
    line-height: 18px;
    font-family:  sans-serif;
    color:rgba(0,0,0,0.8);
}

.box2 > ul {
    margin:0px;
    padding: 0px;
}

.box2 > ul > li {
    padding:7px;
    background:rgba(0,0,255,0.2);
    margin:4px;
    list-style: none;
}

.box3 select {
    position: absolute;
    top: 194px;
    padding: 20px;
    width: 305px;
    border: none;
    border-radius: 2px;
    background: rgba(132, 219, 186, 0.41);
    font-family:  sans-serif;
    font-size: 20px;
}

.motto {
    position: absolute;
    top: 290px;
    text-align: center;
    width: 960px;
    font-size: 34px;
    font-weight: 100;
    font-family:  sans-serif;
    margin-top: -22%;
    margin-left: -10%
    
}

footer {
    position:relative;
    height:50px;
    background:green;
    border-top: 1px solid rgb(130, 196, 247);

}


footer h5 {
    position: absolute;
    top: 8px;
    left: 7px;
    font-family:  serif;
    font-size: 15px;
    color: white;

}

footer a {
    text-decoration: none;
    font-weight: normal;
    color:inherit;
}

