

* { box-sizing: border-box;}  


body {
  font-size: 16px;
  width: 1000px;
  margin: auto;
  font-family: 'sans-serif', serif;
  margin-top: 40px;

}


@media (max-width: 600px) {body{font-size: 16px;
  width: 600px;
  margin: auto;
  font-family: 'sans-serif', serif;
  margin-top: 40px;}}


@media (max-width: 600px) {header{ height: 100px;
       width: 550px;
       margin: 30px;
        margin-right: 60px;
       margin-bottom: -35px;
       background-color: antiquewhite;
       border-radius: 1em 1em 0em 0em;}}

/* not sure why this is broken

header{ height: 100px;
       width: 450px;
       margin: 30px;
        margin-right: 50px;
       margin-bottom: -35px;
       background-color: #484e9a;
  border-radius: 1em 1em 0em 0em;} 
*/


header h1 {margin: 7px;
           margin-left:50px;
           margin-top: -30px;
           margin-bottom: 6px;
           color: #ffffff;
           text-align: center;
           font-size: 250%;
         }

@media (max-width: 600px){header h1{margin: 8px;
           margin-left:110px;
           margin-top: -60px;
           margin-bottom: 5px;
           color: white;
           text-align: center;
           font-size: 160%;
     
    }}

header img {margin:-40px;}

@media (max-width: 550px){header img {margin:-35px;}}

header .subheading {margin: 7px;
           margin-left:-400px;
           margin-top: -10px;
           margin-bottom: 35px;
           color: #ffff;
           text-align: center;
           font-style: sens-serif;
           font-size: 115%;
           letter-spacing: .08em}

@media (max-width: 600px){header .subheading {
           margin: 7px;
           margin-left: 5px;
           margin-top: -5px;
           margin-bottom: 35px;
           color: #ffffff;
           text-align: center;
           font-style: sans-serif;
           font-size: 115%;
           letter-spacing: .08em}}

nav {color:gainsboro; 
    vertical-align: text-bottom;
    margin-top: 10px ;
    border-radius: 1em 1em 1em 1em;
    height: 43px;
    width: 1000px;
    background-color: gainsboro;}

@media (max-width: 600px){nav {color:#ffffff;
    vertical-align: text-bottom;
    margin-left: 30px;
    margin-bottom: 30px;
    border-radius: 1em 0em 1em 1em;
    height: 35px;
    width: 400px;
    background-color: #feb73d;
    padding-top: 15px;}}

@media (max-width: 600px) {#button{display: flex;
        justify-content: flex-end;}}

#button{display: flex;
        justify-content: flex-end;}

nav ul a{color: white; text-decoration: none;}

nav ul {padding-left: 30px;
        padding-top: 10px;
        margin-lef: 15px;
        margin-top: -23px;
        }

    nav ul {margin-left: 2%;}






nav ul li {margin: -12px; 
           text-decoration: none;
           font-size: 140%;
           padding: 30px;
           margin-top:5px;
          display: inline;
          }
@media (max-width: 600px){nav ul li {display: none;}
           }

nav ul li a {color: #ffffff; text-decoration: none;}
nav ul li.active a {color: #579aaa;}
nav ul li a:hover {color: #000000;}



main {width: 1000px;
      margin-top: 30px;
      background-color: #484e9a;
      border-radius: 1em 1em 0em 0em;
     }

@media (max-width: 600px){main {width: 450px;
        margin-left: 30px;
        padding-bottom: 50px;
        background-color: #484e9a;
        border-radius: 1em 1em 0em 0em;
     }}

footer {text-align: center;
	
	width: 1000px;
	
	padding: 20px 6px 25px 30px;
	
      margin: auto;
	
	height: 100px;

	background-color: yellowgreen;
	
	border-bottom-left-radius: 10px;
		
	border-bottom-right-radius: 15px;
	
  text-transform: none;

	font-size: 100%;

	color: yellowgreen;

	letter-spacing: .05em;
	
	font-weight: normal;
	
	text-decoration: none;}

@media (max-width: 600px){footer {text-align: center;
	
	width: 410px;
	
	padding-left: 20px;
  padding-right: 20px;
	padding-bottom: 10px;
  margin-left: 30px;
	
	height: 90px;

	background-color: #feb73d;
	
	border-bottom-left-radius: 10px;
		
	border-bottom-right-radius: 10px;
	
  text-transform: none;

	font-size: 75%;

	color: #ffffff ;

	letter-spacing: .05em;
	
	font-weight: normal;
	
	text-decoration: none;}}



footer aside {}
footer>p {} 

.forecast{margin-top: -60px;}

.forecast h3{ color: #feb73d;  
              text-decoration: underline;
              font-size: 150%;
           }
tr {outline: 5px solid black;
    color: black;}

td{outline: 5px solid #ffffff;
   padding: 8px;
   color: black;
   font-weight: bold;}

table{outline: 4px solid black;
      width: 800px;
      margin-top: -20px;}

@media (max-width: 600px) {table{outline: 4px solid black;
      width: 200px;
      font-size: 53%;
      margin-top: -20px;
      margin-left: -40px}}

article{ height: 500px;
         width: 850px;
         background-color: #579aaa;
         margin-left: 50px;
         margin-bottom:-10px;
         margin-top:-40px;
         padding: 20px;
         padding-left: 35px;
         padding-top: 5px;
  border-radius: 1em 1em 1em 1em;
          color: black;}

@media (max-width:600px) {article{ height: 670px;
         width: 300px;
         background-color: #579aaa;
         margin-left: 52px;
         margin-bottom:-10px;
         margin-top:-40px;
         padding: 20px;
         padding-left: 30px;
         padding-top: 7px;
  border-radius: 1em 1em 1em 1em;
          color: black;}}



article h3{font-weight: bold;
           color: black;
          font-size: 150%;
          text-decoration: none;} 


@media (max-width: 600px) {.grid{
        width: 300px;
        display: grid; 
        grid-template-columns: 250px;
        }
}
@media (max-width: 1000px) {.grid{
        width: 900px;
        display: grid; 
        grid-template-columns: 300px 300px;
        grid-template-rows: 200px 200px 200PX;
  }
        div figure img{ width: 400px;
                height: 250px;}
}

.grid { margin: auto;
        width: 850px;
        display: grid; 
        grid-template-columns: 150px 300px 300px;
        grid-template-rows: 150px 200px;
        grid-gap: 10px;
        padding-top: 15px;
        padding-bottom: 25px;
        
        }
div figure img{ width: 200px;
                height: 150px;
                }
div figcaption{ color: white; text-align: left;}

img:hover {box-shadow: 6px 5px 15px white;}


.nav div {
    margin-left: 10px;
}

@media (max-width: 600px) {.grid{
        width: 300px;
        display: grid; 
        grid-template-columns: 250px;
        }
}


* { box-sizing: border-box;}  

body {
  font-size: 16px;
  width: auto;
  margin: auto;
  font-family: 'sans-serif', serif;
  margin-top: 46px;
  
}
@media (max-width: 550px) {body{font-size: 19px;
  width: 4510px;
  margin: inherit;
  font-family: 'sans-serif', serif;
  margin-top: 45px;}}

header, nav, main, footer { 
     margin: auto;
    padding: -15px;
    max-width: 1000px;}

header {height: 100px;
       
       margin: inherit;
       margin-bottom: -36px;
       background-color: #484e9a;
       border-radius: 1em 1em 0em 0em;}







header .subheading {margin: 4px;
           margin-left:-500px;
           margin-top: 18px;
           margin-bottom: 35px;
           color: #ffffff;
           text-align: right;
           font-style: sans-serif;
           font-size: 115%;
           letter-spacing: .08em}


@media (max-width: 600px){header .subheading {
           margin: 4px;
           margin-left: 60px;
           margin-top: -7px;
           margin-bottom: 35px;
           color: #ffffff;
           text-align: center;
           font-style: sens-serif;
           font-size: 115%;
           letter-spacing: .08em}}

main {margin-top: 70px;
      padding-bottom: 45px;
      background-color: #92a8d1;
      border-radius: 1em 1em 0em 0em;
     }
main li {
    list-style-type: square;
    line-height: 160%;
    margin-left: 20px;
    font-size: 1.2rem;
    color: #39538D;
}

@media (max-width: 600px){main {width: 450px;
      margin-left: 30px;
      margin-top: 65px;
      padding-bottom: 50px;
      background-color: #484e9a;
      border-radius: 1em 1em 0em 0em;
     }}


legend {
    margin-left: 6%;
    padding: .5em;
    border: #D38547 solid 1px;
    color: white;
    background-color: #2b7c;
    font-size: 1.2em;
    }

label {
    display: block;
    margin: .5em;
}

label span {
    display: block;
    font-size: 1.2em;
    padding-top: .7em;
    padding-bottom: .2em;
    color: #39538;
}



footer {text-align: center;
	

	
	padding: 25px 10px 5px 20px;
	
      margin: auto;
	
	height: 120px;

	background-color: ;
	
	border-bottom-left-radius: 10px;
		
	border-bottom-right-radius: 10px;
	
  text-transform: none;

	font-size: 100%;

	color: #ffffff ;

	letter-spacing: .09em;
	
	font-weight: normal;
	
	text-decoration: none;}

@media (max-width: 600px){footer {text-align: center;
	
	width: 450px;
	
	padding-left: 25px;
  padding-right: 20px;
	padding-bottom: 20px;
  margin-left: 30px;
	
	height: 100px;

	background-color: #feb73d;
	
	border-bottom-left-radius: 10px;
		
	border-bottom-right-radius: 10px;
	
  text-transform: lef;

	font-size: 70%;

	color: #ffffff ;

	letter-spacing: .05em;
	
	font-weight: normal;
	
	text-decoration: none;}}



footer aside {}
footer>p {} 



input.submitBtn {
    -webkit-appearance: none;
    border: solid 1px #111;
    width: 30%;
    margin: .5em 0;
    font-size: 1.2em;
    padding: .6em;
    background: #39538D;
    box-shadow: 5px 5px 10px #666;
    color: white;
}

@media only screen and (max-width:500px) {
	.forecast {
		display: none;
	}
    nav ul { display: none; }
    nav {display:none;}


}

